// No seu conquista.scss

// --- Variáveis de Design ---
$conquista-bg-color: rgba(10, 25, 47, 0.8); // O mesmo azul-escuro dos cards
$conquista-border-color: rgba(0, 255, 255, 0.3);
$conquista-glow-color: rgba(0, 255, 255, 0.5);

.conquista {
    position: fixed;
    left: -0%;
    top: 3rem;
    z-index: 1000;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 1.5rem 2.5rem;

    background-color: $conquista-bg-color;
    backdrop-filter: blur(10px);
    border: 1px solid $conquista-border-color;
    border-left: none;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;

    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.5);

    &__img {
        svg {
            width: 5rem;
            height: 5rem;
            filter: drop-shadow(0 0 5px $conquista-glow-color);
        }
    }

    &__infos {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        color: white;

        &--title {
            font-family: "Space Grotesk", sans-serif;
            font-size: 1.6rem;
            font-weight: 700;
            color: $conquista-glow-color;
        }

        &--desc {
            font-size: 1.4rem;
        }

        &--name {
            font-weight: bold;
        }
    }
}
